.reports-view{
    display: flex;
    width: 100%;
    .content{
        width: 100%;
    }
}
.report-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    table{
        border: none;
        width: 100%;
        padding: 0 10%;
        border-collapse: collapse;
        th{
            text-align: start;
            min-width: 40px;
            height: 60px;
            font-weight: 600;
        }
        tr{
            height: 80px;
        }
        tr:nth-child(even){
            background: rgba(0,0,0,0.05);
        }
        td{
            height: 60px;
            min-width: 40px;
            border: none;
            &.description{
                max-width: 300px;
                p{
                    max-width: 300px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 5px 0;
                    text-align: justify;
                }
            }
            .image{
                height: 50px;
                aspect-ratio: 5/4;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: rgba(0,0,0,0.1);
                img{
                    height: 100%;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                }
            }
            .buttons{
                display: flex;
                gap: 10px;
                font-size: 20px;
                .edit-btn{
                    color:#624DE3;
                    cursor: pointer;
                }
                .delete-btn{
                    color: #A30D11;
                    cursor: pointer;
                }
            }
            .claim-status{
                background-color: #d6a34340;
                padding: 10px 20px;
                border-radius: 100px;
                color: #D6A243;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 170px;
                svg{
                    font-size: 22px;
                }
            }
        }
    }
}